<div class="modal-content" data-ng-controller="InfrasCreateController as infrasCreateCtrl">
  
  <div class="modal-header dialog-header-confirm">
    <h4 class="modal-title">
      <i class="fa fa-floppy-o"></i>  Create Infrastructure
    </h4>
  </div>
  
    <div class="modal-body">

       <form name="createAreaForm" class="form-horizontal form-validation" novalidate>

        <fieldset>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="area">Infrastructure Name</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="area"
              class="form-control"
              placeholder="Infrastructure Name"
              data-ng-model="infrasCreateCtrl.name"
              required
              data-ng-minlength="3"
              data-ng-maxlength="100">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-3">
              <label for="type">Type</label>
            </div>
            <div class="col-sm-9">
              <span class="ui-select">
                <select 
                ng-model="infrasCreateCtrl.type"
                ng-init="infrasCreateCtrl.types[0]"
                ng-options="type for type in infrasCreateCtrl.types">
                </select>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="type">Barangay</label>
            </div>
            <div class="col-sm-9">
              <span class="ui-select">
                <select 
                ng-model="infrasCreateCtrl.brgy_area_id"
                ng-init="infrasCreateCtrl.types[0]"
                ng-options="brgy.id as brgy.name for brgy in infrasCreateCtrl.brgys">
                </select>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="location">Location</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="location"
              class="form-control"
              placeholder="Location"
              data-ng-model="infrasCreateCtrl.location"
              required
              data-ng-minlength="6"
              data-ng-maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="remarks">Remarks</label>
            </div>
            <div class="col-sm-9">
              <textarea type="text"
              id="remarks"
              class="form-control"
              placeholder="Remarks"
              data-ng-model="infrasCreateCtrl.remarks"
              row="10"
              col="20">
            </textarea>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-3">
              <label for="status">Status</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="status"
              class="form-control"
              placeholder="Current Status"
              data-ng-model="infrasCreateCtrl.status"
              data-min="6"
              data-max="100">
            </div>
          </div>

<!--         <section class="row">
            <alert id="flash" data-ng-show="infrasCreateCtrl.flash" type="{{infrasCreateCtrl.alert.type}}" close="closeAlert()" >{{ infrasCreateCtrl.flash }}</alert>
        </section> -->
  
          <div class="modal-footer">
                <button type="submit"
                class="btn btn-success btn-w-lg" data-ng-click="infrasCreateCtrl.create(); ok()" data-ng-disabled="createAreaForm.$invalid">Save</button>
                <button type="button" class="btn btn-default btn-w-lg" data-ng-click="cancel()">Close</button>    
          </div>

        </fieldset>
    </form>
  </div>



</div>