<section data-ng-controller="InfrasCtrl">
  <div class="page-header">
    <h3>Edit Infrastructure</h3>


    <form name="form_signup" class="form-horizontal form-validation" data-ng-submit="update()">
      <div class="form-group">
        <div class="col-sm-3">
          <label for="">Infrastructure</label>
        </div>
        <div class="col-sm-9">
          <input  type="text"
          class="form-control"
          placeholder="Min length 2, Max length 30"
          data-ng-model="selected.name"
          required
          data-ng-minlength="2"
          data-ng-maxlength="30">
        </div>
      </div>
    </form>


  </div>
</section>
