<div class="page-signin">

<!--     <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div> -->

    <div class="signin-body">
            <div class="form-container">

                <section class="row text-center logo-container">
                    <img src="images/aidph/aidph_logo_raw_v4.png" alt="">                  
                </section>

                <span class="line-thru">&nbsp;</span>

                <form class="form-horizontal" data-ng-submit="login()">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text"
                                       name="username"
                                       class="form-control"
                                       placeholder="Username"
                                       data-ng-model="credentials.username"
                                       />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <input type="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="Password"
                                       data-ng-model="credentials.password"
                                       />
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Log in</button>
                        </div>
                    </fieldset>
                </form>

                <section class="forgot-password">
                    <p class="text-center"><a href="#/pages/forgot">Forgot your password?</a></p>
                </section>

                <section class="row">
                    <alert id="flash" data-ng-show="flash" type="{{alert.type}}" close="closeAlert()" >{{ flash }}</alert>
                </section>
                
            </div>
    </div>

</div>