<section data-ng-controller="AreasUpdateController as areasUpdateCtrl">

  <div class="modal-header">
    <h3 class="modal-title">Update Area</h3>
  </div>
  

    <div class="modal-body">

<!--       <form name="form_signup" class="form-horizontal form-validation" data-ng-submit="areasUpdateCtrl.update()"> -->
       <form class="form-horizontal form-validation">

        <fieldset>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="area">Area Name</label>
            </div>
            <div class="col-sm-9">
              <input  type="text"
              id="area"
              class="form-control"
              placeholder="Min length 2, Max length 30"
              data-ng-model="area.name"
              required
              data-ng-minlength="3"
              data-ng-maxlength="100">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="type">Type</label>
            </div>
            <div class="col-sm-9">
              <span class="ui-select">
                <select id="parent_area">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Barbecue</option>
                </select>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="contact_person">Contact Person</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="contact_person"
              class="form-control"
              placeholder="Contact Person"
              data-ng-model="area.contact_person"
              required
              data-ng-minlength="6"
              data-ng-maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="contact_no">Contact No.</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="contact_no"
              class="form-control"
              placeholder="Contact No."
              data-ng-model="area.contact_no"
              required
              data-min="6"
              data-max="100">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="parent_area">Parent Area</label>
            </div>
            <div class="col-sm-9">
              <span class="ui-select">
                <select id="parent_area">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Barbecue</option>
                </select>
              </span>
            </div>
          </div>
          
            <div class="form-group">
            <div class="col-sm-3">
              <label for="status">Current Status</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="status"
              class="form-control"
              placeholder="Current Status"
              data-ng-model="area.status"
              data-min="6"
              data-max="100">
            </div>
          </div>

        <section class="row">
            <alert id="flash" data-ng-show="areasUpdateCtrl.flash.error" type="{{areasUpdateCtrl.alert.type}}" close="closeAlert()" >{{ areasUpdateCtrl.flash.error }}</alert>
        </section>

        <!-- <hr/>  -->
  
        </fieldset>
    </form>
  </div>

  <div class="modal-footer">
        <button type="button"
        class="btn btn-success btn-w-lg"
        data-ng-click="areasUpdateCtrl.update(area); ok()">Update</button>
        <button type="button" class="btn btn-default btn-w-lg" data-ng-click="cancel()">Close</button>    
  </div>


</section>
