<div class="modal-content" data-ng-controller="HouseholdsCreateController as hhCreateController">
  
  <div class="modal-header dialog-header-confirm">
    <h4 class="modal-title">
      <i class="fa fa-floppy-o"></i>  Create Household
    </h4>
  </div>
  
    <div class="modal-body" data-ng-init="hhCreateController.getBrgys()">

       <form name="createInfraForm" class="form-horizontal form-validation" novalidate>

        <fieldset>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="area">Household Name</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="name"
              class="form-control"
              placeholder="Household Name"
              data-ng-model="hhCreateController.name"
              required
              data-ng-minlength="3"
              data-ng-maxlength="100">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-3">
              <label for="type">Type</label>
            </div>
            <div class="col-sm-9">
              <span class="ui-select">
                <select 
                ng-model="hhCreateController.type"
                ng-init="hhCreateController.types[0]"
                ng-options="type for type in hhCreateController.types">
                </select>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="type">Barangay</label>
            </div>
            <div class="col-sm-9">
              <span class="ui-select">
                <select 
                ng-model="hhCreateController.brgy_area_id"
                ng-init="hhCreateController.types[0]"
                ng-options="brgy.id as brgy.name for brgy in hhCreateController.brgys">
                </select>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="location">Location</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="location"
              class="form-control"
              placeholder="Location"
              data-ng-model="hhCreateController.location"
              required
              data-ng-minlength="6"
              data-ng-maxlength="100">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3">
              <label for="remarks">Remarks</label>
            </div>
            <div class="col-sm-9">
              <textarea type="text"
              id="remarks"
              class="form-control"
              placeholder="Remarks"
              data-ng-model="hhCreateController.remarks"
              rows="5"
              cols="10">
            </textarea>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-3">
              <label for="status">Status</label>
            </div>
            <div class="col-sm-9">
              <input type="text"
              id="status"
              class="form-control"
              placeholder="Current Status"
              data-ng-model="hhCreateController.status"
              data-min="6"
              data-max="100">
            </div>
          </div>

<!--         <section class="row">
            <alert id="flash" data-ng-show="hhCreateController.flash" type="{{hhCreateController.alert.type}}" close="closeAlert()" >{{ hhCreateController.flash }}</alert>
        </section> -->
  
          <div class="modal-footer">
                <button type="submit"
                class="btn btn-success btn-w-lg" data-ng-click="hhCreateController.create(); ok()" data-ng-disabled="createInfraForm.$invalid">Save</button>
                <button type="button" class="btn btn-default btn-w-lg" data-ng-click="cancel()">Close</button>    
          </div>

        </fieldset>
    </form>
  </div>



</div>